<body>
	<h1>Informes de Compras</h1>
	<h2>Libreria EL Milagro</h2>

	<table>
		<tr1>
		<td>Numero de Factura</td>
		<td>Proveedor</td>
		<td>Fecha De Emision de Factura</td>
		<td>Fecha De Ingreso</td>
		<td>Producto</td>
		<td>Cantidad</td>
		<td>Precio</td>
		<td>Total De La Factura</td>	
		<p></p>
			</tr1>
		
	
	<tbody>
		{% if ventas %}
		{% for venta in ventas %}
		
		<tr>
			<td>{{venta.compra.numero_factura}}</td>
			<td>{{venta.compra.proveedor.nombre}}</td>
			<td>{{venta.compra.fecha_de_compra}}</td>
			<td>{{venta.compra.fecha}}</td>
			<td>{{venta.inventario.producto.nombre}}</td>
			<td>{{venta.cantidad}}</td>
			<td>{{venta.inventario.producto.precio_costo}}</td>
			<td>Q.{{venta.compra.total}}</td>
			<p></p>
		</tr>
		

		{% endfor %}
		{% else%}
		<h1>No hay Registros</h1>
		{% endif %}
	</tbody>
	</table>
	
	

	

</body>
<style>
	
	table{
    border: 1px solid #000;
    border-collapse:collapse;
    text-align: center;
    width: 50%;
    font-size: 15px;
    padding:#574F10;
}
table td{
    border: 1px solid #000;
    padding: 3px;
    color: #000;
    text-align: left;
    
}

table tr:hover{
    background: #FAF7D6;
}

table tr:hover{
    background: #FAF7D6;
}

table td:hover{
    background: #2EA01B;
}

h1{
	border: 1px;
    padding: auto;
    text-align: center;
    font-size: 35px;
    color: #0F49C8;
}

h2{
	border: 1px;
    padding: auto;
    text-align: center;
    font-size: 30px;
}
</style>
</html>