<!DOCTYPE html>
<html>
<head>
	<title>Recibo Compra</title>
</head>
<body>
	<table>
		<tr1>
		<td>Numero de Factura</td>
		<td>Proveedor</td>
		<td>Fecha De Emision de Factura</td>
		<td>Fecha De Ingreso</td>
		<td>Total</td>
			<p></p>
			</tr1>

		
		<tr>
			<td>{{ventas.numero_factura}}</td>
			<td>{{ventas.proveedor.nombre}}</td>
			<td>{{ventas.fecha_de_compra}}</td>
			<td>{{ventas.fecha}}</td>
			<td>Q.{{ventas.total}}</td>
			<p></p>
		</tr>
		

		
	</tbody>
	</table>

</body>
</html>